// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Colors
    // Primary

    $color-Red: hsl(0, 100%, 74%); 
    $color-Green: hsl(154, 59%, 51%);

    // Accent

    $color-Blue: hsl(248, 32%, 49%);

    // Neutral

    $color-DarkBlue: hsl(249, 10%, 26%); 
    $color-GrayisBlue: hsl(246, 25%, 77%);